<script class="template--tweet" type="template/handlebars">
  <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" class="tweet">
    <div class=""><img src="{{ tweet.user.profile_image_url }}"></div>
    <div class="">{{ tweet.user.screen_name }}</div>
    <div class="time">{{ tweet.created_at }}</div>
    <div class="tweet__body">{{ tweet.text }}</div>
    {{#if tweet.entities.media}}
    {{#each tweet.entities.media }}
      <img src="{{ this.media_url }}">
    {{/each}}
    {{/if}}
  </a>
</script>