<script class="template--tweet" type="template/handlebars">
  <div class="tweet">

    <div class="tweet__container">
      <div class="tweet__profile_picture">
        <img src="{{{changeImageSize tweet.user.profile_image_url }}}">
      </div>
      <div class="tweet__screen_name"><a href="http://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a></div>

      <div class="tweet__body">{{ tweet.text }}</div>

      <div class="tweet__meta">
        <a href="https://twitter.com/{{ tweet.user.screen_name}}/status/{{ tweet.id_str }}"><time class="tweet__time timeago" datetime="{{ tweet.created_at }}">
          {{ tweet.created_at }}
        </time></a>
      </div>
    </div>

    {{#if tweet.entities.media}}
    <div class="tweet__entities">
    {{#each tweet.entities.media }}
      <img class="tweet__media" src="{{ this.media_url }}">
    {{/each}}
    </div>
    {{/if}}

    <!-- <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/
      {{ tweet.id_str }}" class="tweet__link"></a> -->
  </div>
</script>
